# systemd unit file for the DALY Bluetooth Service
#
# needs to go to /etc/systemd/system/*

[Unit]
# Human readable name of the unit
Description=Daly Bluetooth Service

[Service]
Type=oneshot
#WorkingDirectory=/home/{{ ansible_user }}/opt/{{ application_directory_name }}
User=root
Group=root

# Command to execute when the service is started
ExecStart=/usr/bin/python3 /usr/local/bin/daly-bmsBT-cli -C /etc/dalybt.conf --all

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

StandardOutput=file:/tmp/dalybt-service-out.txt
StandardError=inherit
